body {
    font-family: 'Khula', sans-serif;
    background-color: #222;
}

.bulletBar {
    margin: -2em auto 2em;
    padding: 3em;
    background-color: #111;
}

.section {
    background: black;
    padding: 1em;
    margin-bottom: 2em;
}

.brand {
    font-weight: 300;
    font-size: 2em;
}

.bullettitle {
    color: #e21e79;
    font-weight: 400;
    font-size: 1.6em;
    text-align: left;
}

.bullets {
    text-align-last: left;
    padding-left: 2em;
    color: #777;
    font-style: italic;
}

.sectionTitle {
    color: #16D4FF;
    font-weight: 300;
    font-size: 2.5em;
}

.section p {
    color: #16D4FF;
    opacity: .6;
    font-style: italic;
    font-weight: 300;
    font-size: 1.5em;
}

.arrow{
    width: 30px;
    opacity: .75;
}

.imagecontainer {
    margin-bottom: 2em;
    padding: 1em;
    max-width: 1000px;
    overflow: hidden;
}

.panelbox, .paneltop, .panelbody {
    background: none;
}

.panelbox {
    margin-top: 2em;
}

.paneltop h3{
    color: #16D4FF;
    opacity: .75;
    font-weight: 400;
    font-size: 1.4em;
}

.paneltop h4{
    font-weight: 100;
    font-style: italic;
    color: #aaa;
}

.image {
    border: 1px solid gray;
}

span {
    color: #16D4FF;
    font-weight: 400;
    font-style: italic;
}

.mainImage {
    height: 300px;
    overflow: hidden;
    vertical-align: middle;
}
.mainImage img{
    width: 100%;
}

.profilepicture {
    transition: all 1000ms ease;
    border-radius: 50%;
    border: 1px solid #16d4ff;
    width: 50%;
    max-width: 200px;
}
.profilepicture:hover{
    border: 1px solid #eee;
}

.profileImgHolder {
    margin: auto;
    text-align: center;
}

.profileImgHolder h3 {
    margin-bottom: 3em;
}

h1,h2, h3 {
    font-weight: 100;
}
h1,h3{
    color: #16D4FF;
}

h2{
    color: #888;
}

h4 {
    color: #666;
    font-weight: 400;
}

h3 {
    font-style: italic;
    font-size: 1.3em;
    opacity: .6;
}


.line {
    margin-bottom: 1em;
    border-bottom: 1px solid gray;
}

.tasks li{
    color: #888;
    font-weight: 400;
}

hr {
    border-bottom: 1px solid rgb(200,200,200);
}

li {
    font-style: italic;
    font-size: 1.2em;
    font-weight: 100;
    list-style: none;
    color: #999;
}

.navbar {
    background-color: #111;
}

.colorBox {
    min-height: 13em;
    padding: 2em;
    background: #16d4ff;
}

.colorBox p{
    font-size: 1.2em;
}

.colorBox h2{
    color: white;
}



.top3 {
    margin-bottom: 1em;
}

.top3Container {
    margin: -60px auto;
    max-width: 1024px;
}

.imageContainerRows {
    max-width: 1500px;
    margin: auto;
}

#myname {
    font-family: 'Calligraffitti', cursive;

}
